/* ********************************************************** */
/*                      BACKGROUND IMAGE                      */
/* ********************************************************** */
.backimage1 {
    /* background-color: black; */
    position: relative;
    pointer-events: none;
}
.backimg1 {
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* opacity: .3; */
}
.txt-siged1, .txt-leyend1 {
    /* background-color: blue; */
    font-family: "Montserrat";
    font-weight: 500;
    /* top: 300px; */
    left: 520px;
    opacity: 0;
    position: absolute;
    font-size: 24px;
    line-height: 18px;
    text-shadow: 2px 2px black;
    animation: ani4 1s 3s ease-out forwards;
    z-index: 100;
}
.txt-leyend1 {
    z-index: 10;
}
@keyframes ani4 {
    100% {top: -100px;}

    0% { opacity: 0; } 
    25% { opacity: .25; } 
    50% { opacity: .50; } 
    75% { opacity: .75; } 
    100% { opacity: 1; }
}
.txt-leyend1 {
    /* background-color: blue; */
    top: 400px;
    font-size: 28px;
    animation: ani5 1s  ease-out forwards;
    animation-delay: 2.0s;
}
@keyframes ani5 {
    100% {top: -43px;}

    0% { opacity: 0; } 
    25% { opacity: .25; } 
    50% { opacity: .50; } 
    75% { opacity: .75; } 
    100% { opacity: 1; }
}
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 825px) 
and (max-width : 970px) {
    .txt-siged1 {
        font-size: 22px;
        left: 90px;
    }
    .txt-leyend1 {
        font-size: 26px;
        left: 90px;
        padding-right: 25px;
    }
}
@media only screen
and (min-width : 521px) 
and (max-width : 824px) {
    .txt-siged1 {
        font-size: 19px;
        left: 50px;
        padding-right: 30px;
        line-height: 17px;
    }
    .txt-leyend1 {
        font-size: 23px;
        left: 50px;
        padding-right: 30px;
        padding-top: 20px;
        line-height: 21px;
    }
}
@media only screen
and (min-width : 361px) 
and (max-width : 520px) {
    .txt-siged1 {
        font-size: 17px;
        left: 36px;
        padding-right: 25px;
        line-height: 17px;
    }
    .txt-leyend1 {
        font-size: 22px;
        left: 36px;
        padding-top: 15px;
        padding-right: 25px;
        line-height: 20px;
    }
}
@media only screen
and (min-width : 281px) 
and (max-width : 360px) {
    .txt-siged1 {
        font-size: 16px;
        left: 33px;
        padding-right: 20px;
        line-height: 16px;
    }
    .txt-leyend1 {
        font-size: 21px;
        left: 33px;
        padding-right: 20px;
        padding-top: 12px;
        line-height: 20px;
    }
}
@media only screen
and (min-width : 126px) 
and (max-width : 280px) {
    .txt-siged1 {
        font-size: 12px;
        left: 15px;
        padding-right: 10px;
        line-height: 10px;
    }
    .txt-leyend1 {
        font-size: 16px;
        left: 15px;
        padding-right: 10px;
        line-height: 12px;
    }
}
@media only screen
and (min-width : 10px) 
and (max-width : 125px) {
    .txt-siged1 {
        font-size: 11px;
        left: 10px;
        padding-right: 5px;
        line-height: 12px;
    }
    .txt-leyend1 {
        font-size: 15px;
        left: 10px;
        padding-right: 5px;
        line-height: 14px;
    }
}