#dataTable {
    border-collapse: collapse;
    width: 85%;
    border: 1px solid #ddd;
    font-size: 15px;
    color: black;
    margin-bottom: 50px;
  }
  #dataTable th, #dataTable td {
    text-align: left;
    padding: 12px;
    text-align: center;
  
  }
  #dataTable tr {
    border-bottom: 1px solid #ddd;
  
  }
  #dataTable tr.header, #dataTable tr:hover {
    background-color: #f1f1f1;
  
  }
  a {
    color: #f56642;
  }
  
  .tablesearch {
      display: none;
  }