
/* ********************************************************** */
/*                   SEARCH DIALOG SETTINGS                   */
/* ********************************************************** */ 
.loading-wrapper2 {
    background-color: rgba(255, 255, 255, .2);
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    display: none;
}
.main-box {
    /* outline: 1px solid red; */
    background-color: rgb(255, 255, 255); /* background */
    font-weight: 400;
    color: rgb(44, 42, 42); /* color text */
    padding: 7px 7px; /* Some padding */
    font-size: 1em; /* Set a font size */
    box-shadow: 0px 0px 3px 1px rgb(90, 88, 88);
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    position: fixed;
  }
  .title-box {
      background-color: #13322B;
      width: 100%;
      height: 30px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px ;
  }
  .content-box {
      /* background-color: rgb(89, 123, 143); */
      border: 1px ridge rgb(227, 225, 225);
      border-radius: 5px;
      width: 97%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .content-box-txt {
      padding-left: 6px;
      font-size: .9rem;
  }
  .fa-exclamation-triangle {
      color: #545454;
      font-size: 1.2em;
  }
  .btn-ok {
      /* background-color: cadetblue; */
      margin-top: 10px;
    }
    .aceptar {
      padding: 5px 12px;
  }
/* ********************************************************** */
/*                     SCREEN MEDIA QUERYS                    */
/* ********************************************************** */ 
@media only screen
and (min-width : 10px) 
and (max-width : 550px) {
    .main-box {
        font-size: .8em;
    }
    .main-box {
        width: 260px;
    }
}

@media only screen
and (min-width : 551px) 
and (max-width : 940px) {
    .main-box {
        font-size: .9em;
    }
 }
