/* ********************************************************** */
/* ********************************************************** */
/*                      GENERAL SETTINGS                      */
/* ********************************************************** */
/* ********************************************************** */
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
* {
    /* font-family: "Montserrat-Regular"; */
    /* caret-color: transparent; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgb(86, 82, 82) rgb(54, 53, 52);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
*::before,
 *::after {
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
 * a {
     text-decoration: none;
     color: #fff;
}
/* ********************************************************** */
/*                     SCROLLBAR SETTINGS                     */
/* ********************************************************** */
*::-webkit-scrollbar {
    width: 10px;   
    background-color: rgb(55, 53, 53); /* width of the entire scrollbar */
  }
*::-webkit-scrollbar-thumb { 
    background-color: rgb(128, 122, 122); /* color of the scroll thumb */ 
    border-radius: 20px; /* roundness of the scroll thumb */ 
      /*border: 3px solid orange;*/ /* creates padding around scroll thumb */ 
}
*:hover::-webkit-scrollbar-thumb {
    background-color: rgb(112, 112, 118);
}
/* ********************************************************** */
/*                        BODY SETTINGS                       */
/* ********************************************************** */
body {
    /* background-color: rgb(212, 46, 46); */
    /* overflow-x: hidden; */
    /* color: #fff; */
    color: #fff;
    padding-top: 40px;
    height:100vh;
    display:flex; 
    flex-direction:column;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    user-select: none;
    overflow-x: hidden;
}
/* ********************************************************** */
/*                    SCRREN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 60px) 
and (max-width : 520px) {
    body{
        padding-top: 116px;
    }
}
@media only screen
and (min-width : 521px) 
and (max-width : 800px) {
    body{
        padding-top: 116px;
    }
}