/* ********************************************************** */
/*                      BIG SCREEN TOPBAR                     */
/* ********************************************************** */
.main-topbar {
    /* border: 2px solid rgb(248, 252, 26); */
    /* background-color: rgb(78, 63, 63); */
    height: 7.5em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background: url(../images/cons_head.webp) no-repeat center;
    /* opacity: .4; */
}
.left {
    /* outline: 1px solid rgb(206, 115, 115); */
    /* margin-right: 50px; */
    /* width: 135px; */
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
}
.acces-ico_ {
    width: 2.2em;
    margin-top: 10px;
    margin-left: 10px;
    opacity: .94;
    cursor: pointer;
    z-index: 100;
}
.forcecolor * {
    /* fill: #9d2449; */
    fill: #13322B;
    opacity: .8;
  }
.middle {
    /* outline: 1px solid red; */
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 1;
 }
.gob-logo {
    width: 8.5em;
    padding-top: 6px;
}
.right {
    /* background-color: #33c531; */
    /* border: 1px solid blue; */
    width: 850px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.up {
    /* border: 1px solid aqua; */
    height: 100%;
    display: flex;
}
.linkup {
    /* background-color: #1726b3; */
    /* border: 1px solid red; */
    padding: 18px 15px 18px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.linkup:hover {
    background-color: #304440;
}
.lup {
    /* background-color: #2a95c3; */
    margin-top: 10px;
}
.lup_ {
    width: 1.9em;
}
.up- {
    transition: 300ms;
}
.linkup:hover p  {
    color: #C0B392;
}
/* ********************************************************** */
/*                   BIG SCREEN RIBBON MENU                   */
/* ********************************************************** */
.ribbon {
    /* border: 2px solid red; */
    background-color: #337AB7;
    margin-top: 80px;
    height: 65px;
    width: 1200px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* opacity: .3; */
}
.middle-wrapper {
    /* background-color: blue; */
    font-size: 1.24rem;
    width: 280px;
    display: flex;
    align-items: center;
    flex-shrink: 1;
}
.right-wrapper {
    /* background-color: #33c531; */
    /* border: 1px solid blue; */
    width: 850px;
    padding-right: 12px;
    display: flex;
    flex-shrink: 1;
}
.block-wrapper {
    /* background-color: burlywood; */
    height: 100%;
    display: flex;
    align-items: center;
    transition: 500ms;
    flex-shrink: 1;
}
.block-wrapper:hover {
    background-color: #36514B;
}
.block0, .block1, .block2, .block3, .block4 {
    /* border: 1px solid red;
    background-color: rgb(171, 194, 24); */
    padding: 18px 15px 18px 15px;
    display: flex;
    align-items: center;
}
.home, .home_ {
    /* background-color: #D95A8D; */
    width: 1.5em;
    transition: 300ms;
}
.block-wrapper:hover .home {
    opacity: 0;
}
.home_ {
    position: absolute;
    margin-right: 43px;
    opacity: 0;
}
.block-wrapper:hover .home_ {
    opacity: 1;
}
.icon-overlap {
    position: absolute;
    opacity: 0;
    transition: 300ms;
}
.block-wrapper:hover .icon-overlap {
    opacity: 1;
}
.icon1, .icon2, .icon3, .icon4  {
    width: 1.35em;
    margin-right: 2px;
}
.icon3  {
    width: 1.1em;
}
.icon-opacity{
    transition: 300ms;
}
.block-wrapper:hover .icon-opacity {
    opacity: 0;
}
.lowtitles {
    padding-left: 4px;
    transition: 300ms;
}
.block-wrapper:hover .lowtitles {
    color: #C0B392;
}
/* ********************************************************** */
/*                       FOOTER SETTINGS                      */
/* ********************************************************** */
.footer {
    /* background-color: #0c0c0c; */
    /* border-bottom: 7px solid rgb(3, 3, 3); */
    min-height: auto;
    margin-top: auto; 
    /* height: 150px; */
    /* display: none; */
}
.div-footer-info {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1.3fr;
}
.info-gob-wrap {
    /* background-color: #FE935F;
    outline: 2px solid #242222; */
    /* padding-bottom: 70px; */
    display: flex;
    justify-content: flex-start;   
}
.info-gob {
    /* background-color: #33c531;
    border: 1px solid white; */
    padding-top: 40px;
    padding-right: 20px;
}
.logo-wrapper {
    /* outline: 5px solid black; */
    padding-right: 20px;
}
.footer-logo {
    /* outline: 1px solid blue; */
    width: 15.2em;
    margin-top: 30px;
    margin-left: 95px;
}
.div-footer-img {
    /* outline: 1px solid red; */
    height: 7.5em;
    background: url(../images/cons_footer.webp) no-repeat center;
}
.info-rotulo, .siguenos {
    font-size: 18px;
    line-height: 17px;
    padding-bottom: 25px;
}
.siguenos {
    padding-top: 20px;
}
.infotxt {
    font-size: 14px;
    line-height: 22px;
}
.infotx {
    font-size: 14px;
    padding-bottom: 22px;
}
.more {
    font-size: 14px;
    line-height: 20px;
    font-weight: initial;
}
.social-wrap {
    /* background-color: #2837d7; */
    display: flex;
}
.div-social-icon {
    padding-left: 15px;
    padding-left: 15px;
}
.social-icon1 {
    width: .65em;
}
.social-icon2 {
    width: 1.4em;
}
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 20px) 
and (max-width : 800px) {
    .main-topbar {
        display: none;
    }
    .ribbon {
        display: none;
    }
    .div-footer-info {
        display: flex;
        flex-direction: column;
    }
    .info-gob-wrap {
        /* outline: 2px solid red; */
        padding: 0;
        display: block;
        
    }
    .logo-wrapper {
        /* outline: 5px solid black; */
        display: flex;
        flex: 1;
    }
    .footer-logo {
        /* background-color: aqua; */
        width: 100%;
        padding: 40px;
        margin: 0;
    }
    .info-gob {
        padding: 0 0 35px 25px;
    }
    .div-footer-img {
        height: 35px;
        background: url(../images/cons_footer.webp) no-repeat center;
        background-size: cover;
    }
}

@media only screen
and (min-width : 801px) 
and (max-width : 1000px) {
    .ribbon {
        display: flex;
        justify-content: space-evenly;
    }
    .left {
        margin-right: 55px;
    }
    .left- {
        margin-right: 12px;
    }
}

@media only screen
and (min-width : 1001px) 
and (max-width : 1220px) {
    .left, .left- {
        margin-right: 80px;
    }
}

@media only screen
and (min-width : 1221px) 
and (max-width : 1310px) {
    .left, .left- {
        margin-right: 90px;
    }
}