/* ********************************************************** */
/*                    MOBILE FIXED TOP MENU                   */
/* ********************************************************** */
.main-topbar-wrapper {
    /* border: 10px solid red; */
    margin-top: -116px;
    position: fixed;
    z-index: 30;
}
.left_ {
    /* border: 5px solid blue; */
    display: none;
}
 .acces-ico_ {
    width: 2.2em;
    margin-top: 10px;
    margin-left: 10px;
    opacity: .94;
    cursor: pointer;
    z-index: 100;
}
.main-topbar_, .main-topbar__ {
    /* border: 10px solid rgb(0, 0, 0); */
    position: fixed;
    background-color: rgb(12, 35, 30);
    height: 3.8em;
    left: 0;
    right: 0;
    top: 0;
    /* opacity: .4; */
}
.main-topbar_ {
    /* border: 2px solid red; */
    /* background-color: chartreuse; */
    z-index: 30;
    display: none;
}
.main-topbar__ {
    border-top: 1px solid #1e3c35;
    margin-top: -9em;
    height: initial;
    z-index: 25;
    display: none;
    transition: 1s ease-in-out;
}
.right_ {
    /* background-color: #33c531; */
    /* outline: 3px solid blue; */
    display: flex;
    flex: 1;
}
.label-hamburguer-wrapper {
    /* background-color: coral; */
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.hamburguer-wrapper {
    /* background-color: #C0B392; */
    display: flex;
    align-items: center;
    padding: 16px 2px 16px 2px;
    border-radius: 100px;
    height: 23px;
}
.hamburguer-icon {
    width: 1.83em;
}
.up_ {
    /* outline: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex: 1;
}
.linkup_ {
    /* background-color: #1726b3; */
    /* border: 1px solid red; */
    padding: 15px 0 15px 15px;
    display: flex;
    transition: 300ms;
}
.linkup__ {
    padding: 9px 0 7px 10px;
}
.linkup_:hover {
    background-color: #304440;
}
.linkup_:hover p  {
    color: #C0B392;
}
.up-- {
    transition: 300ms;
}
.glass_ {
    width: 2em;
}
/* ********************************************************** */
/*                    MOBILE RIBBON MENU                      */
/* ********************************************************** */
.ribbon_ {
    background-color: #13322B;
    /* border: 5px solid red; */
    margin-top: 3.8em;
    height: 55px;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 20;  
    position: absolute;
    display: none;
    /* opacity: .2; */
}
.siged_ {
    /* background-color: blue; */
    font-size: 1.24rem;
    margin-left: 17px;
    display: flex;
    align-items: center;
}
.ribbon__ {
    /* border: 1px solid red; */
    background-color: #13322B;
    border-top: 1px solid rgb(52, 75, 50);
    margin-top: -300px;
    position: absolute;
    display: none;
    transition: 1.25s ease-in-out;
    z-index: 15;
}
.block-wrapper_ {
    height: 100%;
    display: flex;
    transition: 500ms;
}
.block-wrapper_:hover {
    background-color: #36514B;
}
.block5, .block6, .block7, .block8, .block9 {
    /* border: 1px solid red; */
    /* background-color: rgb(171, 194, 24); */
    padding: 11px 0 11px 15px;
    display: flex;
    align-items: center;
}
.block-wrapper_:hover .home_ {
    opacity: 0;
}
.block-wrapper_:hover .home__ {
    opacity: 1;
}
.home__, .home___ {
    /* background-color: #D95A8D; */
    width: 1.15em;
    transition: 300ms;
}
.home___ {
    position: absolute;
    /* margin-right: 43px; */
    opacity: 0;
}
.icon-overlap_ {
    position: absolute;
    opacity: 0;
    transition: 300ms;
}
.block-wrapper_:hover .icon-overlap_ {
    opacity: 1;
}
.icon01, .icon02, .icon03, .icon04  {
    width: .9em;
    margin-right: 2px;
}
.icon03  {
    width: .84em;
}
.icon-opacity_{
    transition: 300ms;
}
.block-wrapper_:hover .icon-opacity_ {
    opacity: 0;
}
.lowtitles_ {
    font-size: 12px;
    line-height: 25px;
    transition: 300ms;
}
.block-wrapper_:hover .lowtitles_ {
    color: #C0B392;
}
/* **********************  SWITCHES  ************************ */
#switch-menu, #switch-menu_ {
    position: absolute;
    display: none;
}
/* ********************************************************** */
#switch-menu:checked ~ .main-topbar__ {  
    margin-top: 3.8em;
    animation: ani_1 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.hamburguer-wrapper:hover {
    background-color: #193b30;
}
.hamburguer-wrapper:active {
    background-color: #507970;
}
/* ********************************************************** */
#switch-menu_:checked ~ .ribbon__ {
    margin-top: 7.22em;
    animation: ani_2 1.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.hamburguer-wrapper-a:hover {
    background-color: #224c3f;
}
.hamburguer-wrapper-a:active {
    background-color: #507970;
}
/* .div {
    width: 100vw;
    padding: 150px 30px 30px 30px;
    text-align: justify;
}
.texto {
    font-size: medium;
    color: black;
} */
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 10px) 
and (max-width : 800px) {
    .left_ {
        display: initial;
    }
    .main-topbar_ {
        display: flex;
        /* opacity: .3; */
    }
    .main-topbar__ {
        display: initial;
        /* opacity: .3; */
    }
    .ribbon_ {
        display: flex;
        /* opacity: .3; */
    }
    .ribbon__ {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        /* opacity: .3; */
    }
    .siged_ {
        margin-left: 12px;
    }
}
