/* ********************************************************** */
/*                   INVOICE DATA WRAPPER                     */
/* ********************************************************** */ 
.invoice-wrapper {
    /* background-color: aqua; */
    /* outline: 4px solid red; */
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.invoice-wrapper_ {
    background-color: #545454;
    position: relative;
    min-width: 100px;
    max-width: 88.5%;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex: 1;
    z-index: 10;
    background: url(../images/cons_footer.webp) no-repeat center;
}

.myform {
    /* outline: 4px solid red; */
    max-width: 93%;
    height: 50px;
    margin: 50px 0px 50px 0px;
    display: flex;
    flex: 1;
    gap: 25px;
}
.form-data {
    /* outline: 6px solid rgb(16, 59, 215); */
    display: flex;
    flex: 1;
    width: 100%;
}
.form-input {
    background: #E1E1E1;
    min-width: 100%;
    height: 100%;
    color:black;
    font-size: 18px;
    line-height: 24px;
    padding-left: 12px;
    border: none;
    border-radius: 2px;
}
.form-input:focus {
    border: 1px solid #1c8ce8;
    outline: none;
    box-shadow: 0 0 4px 1px #79afdc;
}
.button-wrapper {
    /* outline: 8px solid rgb(222, 49, 49); */
    /* min-width: 500px; */
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 25px;
}
.btn-search, .btn-reset {
    background-color: #50c2e5;
    width: 100%; 
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 #1e7b98;
    
}
.btn-search:hover {
    background-color: #31B0D5;
}
.btn-search:active {
    background-color: #0da5d4;
    box-shadow: inset 0px 0px 1px 1px #218fb0,
                      0px 0px 1px 1px #aad9e7;
}
.btn-reset{
    background-color: #f3ad4b;
    box-shadow: 0 2px 0 0 #C77C11;
}
.btn-reset:hover {
    background-color: #EC971F;
}
.btn-reset:active {
    background-color: #d58b24;
    box-shadow: inset 0px 0px 1px 1px #bfad93,
                      0px 0px 1px 1px #cf974e;
}
.btn-form {
    cursor: pointer;
}
.ng-binding {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px black;
}
.invoice-locate-wrapper {
    /* background-color: #cf974e; */
    position: absolute;            
    font-size: 18px;
    line-height: 26px;
    margin-top: 90px;
}
.invoice-locate-txt {
    color: #fff;
    text-decoration: underline;
    transition: color 350ms ease-in-out ;
}
.invoice-locate-txt:hover {
    color: #4787c4;
}
/* ********************************************************** */
/*                     REGISTRATION FORM                      */
/* ********************************************************** */ 
.form-container {
    /* border: 1px solid red; */
    background-color: #545454;
    min-width: 100px;
    max-width: 85%;
    color: #d7d2d2;
    margin-bottom: 5px;
    visibility: hidden;
}
.box-title-wrapper {
    border: 1px solid rgb(185, 181, 181);
    cursor: pointer;
}
.box-title {
    padding: 10px;
}
.box-title-txt:hover {
    text-decoration: underline;
}
.registration {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.fullname-,
.invoice-,
.date- {
    /* outline: 1px solid red; */
    padding: 7px 0 7px 0;
}
.form-input- {
    background: #E1E1E1;
    min-width: 93%;
    height: 50px;
    color:black;
    font-size: 18px;
    line-height: 24px;
    padding-left: 12px;
    border: none;
    border-radius: 2px;
}
.form-input-:focus {
    border: 1px solid #1c8ce8;
    outline: none;
    box-shadow: 0 0 4px 1px #79afdc;
}
.btn-form- {
    cursor: pointer;
}
.btn-search-, .btn-reset- {
    background-color: #50c2e5;
    /* width: 100%;  */
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 #1e7b98;
}
.btn-search-:hover {
    background-color: #31B0D5;
}
.btn-search-:active {
    background-color: #0da5d4;
    box-shadow: inset 0px 0px 1px 1px #218fb0,
                      0px 0px 1px 1px #aad9e7;
}
.btn-reset- {
    background-color: #f3ad4b;
    box-shadow: 0 2px 0 0 #C77C11;
}
.btn-reset-:hover {
    background-color: #EC971F;
}
.btn-reset-:active {
    background-color: #d58b24;
    box-shadow: inset 0px 0px 1px 1px #bfad93,
                      0px 0px 1px 1px #cf974e;
}
.button-wrapper- {
    /* border: 1px solid red; */
    width: 47%;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 25px;
}
.button- {
    height: 50px;
    width: 100%;
    text-align: center;
}
.button1 {
    margin: 10px 0 10px 0;
}
.button2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */ 
@media only screen
and (min-width : 1000px) 
and (max-width : 1200px) {
    .button-wrapper {
        gap: 15px;
    }
    .myform {
        gap: 15px;
    }
    .button-wrapper- {
        gap: 15px;
    }
}
@media only screen
and (min-width : 386px) 
and (max-width : 999px) {
    .invoice-wrapper_{
        height: 290px;
        max-width: 90%;
    }
    .button-wrapper {
        gap: 10px;
        height: 115px;
        margin-top: 10px;
        display: grid;
        justify-content: center;
        /* display: none; */
    }
    .btn-form {
        /* border: 1px solid red; */
        padding-left: 100px;
        padding-right: 100px;
    }
    .myform {
        display: block;
        gap: 10px;
    }
    .form-input {
        height: 50px;
    }
    .invoice-locate-wrapper {
        margin-top: 230px;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        display: grid;
        justify-content: center;
        width: 93%;
        gap: 10px;
    }
    .button- {
        padding-left: 100px;
        padding-right: 100px;
    }
    .button1 {
        margin: 10px 0 0 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media only screen
and (min-width : 278px) 
and (max-width : 385px) {
    .invoice-wrapper_{
        height: 275px;
        max-width: 92%;
    }
    .button-wrapper {
        /* outline: 2px solid red; */
        height: 115px;
        margin-top: 10px;
        display: block;
    }
    .ng-binding {
        font-size: 16px;
    }
    .btn-form {
        height: 50px;
    }
    .btn-search {
        margin-bottom: 10px;
    }
    .myform {
        display: block;
        gap: 0;
    }
    .form-input {
        height: 50px;
        font-size: 13px;
    }
    .invoice-locate-wrapper {
        margin-top: 215px;
        font-size: .95em;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    .form-input- {
        height: 50px;
        font-size: 13px;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        width: 93%;
        display: block;
    }
    .button1 {
        margin: 10px 0 10px 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media only screen
and (min-width : 143px) 
and (max-width : 277px) {
    .invoice-wrapper_{
        height: 300px;
        max-width: 97%;
    }
    .button-wrapper {
        /* outline: 2px solid red; */
        height: 115px;
        margin-top: 10px;
        display: block;
    }
    .ng-binding {
        font-size: 16px;
    }
    .btn-form {
        /* outline: 2px solid red; */
        height: 50px;
        font-size: 11px;
    }
    .myform {
        display: block;
        gap: 0;
    }
    .form-input {
        font-size: 9px;
        height: 50px;
    }
    .invoice-locate-wrapper {
        margin-top: 220px;
        font-size: .95em;
        text-align: center;
    }
    .form-input- {
        font-size: 9px;
        height: 50px;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        width: 93%;
        display: block;
    }
    .button1 {
        margin: 10px 0 0 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media only screen
and (min-width : 10px) 
and (max-width : 142px) {
    .invoice-wrapper_{
        height: 315px;
        max-width: 98%;
    }
    .button-wrapper {
        /* outline: 2px solid red; */
        height: 115px;
        margin-top: 15px;
        display: block;
    }
    .ng-binding {
        font-size: 16px;
    }
    .btn-form {
        /* outline: 2px solid red; */
        height: 50px;
    }
    .myform {
        display: block;
        gap: 0;
    }
    .form-input {
        font-size: 7px;
        height: 50px;
    }
    .invoice-locate-wrapper {
        margin-top: 220px;
        font-size: .92em;
        text-align: center;
    }
    .form-input- {
        font-size: 7px;
        height: 50px;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        width: 93%;
        display: block;
    }
    .button1 {
        margin: 10px 0 0 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}



