/* ********************************************************** */
/*                        MAIN CANVAS                      */
/* ********************************************************** */
.main-canvas {
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
}
.head-box {
    /* border: 4px solid rgb(248, 252, 26); */
    /* background-color: rgb(228, 245, 0); */
    width: 69%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* ********************************************************** */
/*                      VALIDATION MODULE                     */
/* ********************************************************** */ 
.container {
    /* background-color: #dceb11; */
    /* border: 3px solid rgb(29, 29, 29); */
    /* height: 100%; */
    width: 100%;
    z-index: 1000;
    min-height: 28vh;
    
} 
.container- {
    display: initial;
}
.middle-box {
    /* border: 2px solid rgb(0, 0, 0); */
    border-left: 1px solid #337AB7;
    border-right: 1px solid #337AB7;
    border-bottom: 1px solid #337AB7;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.table-cell {
    /* background-color: rgb(147, 227, 241);
    outline: 5px solid rgb(255, 38, 38); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}
.table-cell_ {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.docto-img-wrapper_ {
    /* background-color: rgb(0, 0, 0); */
    padding-left: 80px;
    padding-top: 0px;
}
.docto-img {
    width: 7.5vw;
}
.container2 {
    /* border: 2px solid rgb(242, 159, 26); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.table-wrapper {
    /* background-color: chartreuse; */
    /* border: 1px solid rgb(10, 10, 141); */
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tag0, .tag1 {
    /* border: 1px solid rgb(66, 59, 59); */
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #212122;
}
.tag1 {
    width: 100%;
}
.tag0 {
    color: #337AB7;
    width: 62%;
    padding: 0 7px 0 80px;
}
/* ********************************************************** */
/*                   INFO RIBBON                   */
/* ********************************************************** */
.ribbon0 {
    /* border: 2px solid red; */
    /* background-color: #2c1919; */
    border-radius: 3px;
    width: 100%;
    position: relative;
}
.ribbon1 {
    /* border: 2px solid red; */
    background-color: #337AB7;
    height: 62px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    /* opacity: .3; */
}
.tag-margin {
    margin-bottom: 15px;
}
.back-image {
    border-radius: 3px;
    width: 100%;
    height: 100%;

    position: relative;
}
.top-logo {
    position: absolute;
    z-index: 100;
    top: 14.5%;
    right: 2.3vw;
    width: 6vw;
}
.info0 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    position: absolute;
    z-index: 100;
    top: 33%;
    left: 3vw;
}
.info1 {
    font-family: Helvetica, sans-serif;
    font-size: 3vh;
}
/* ********************************************************** */
/*                     SCREEN MEDIA QUERYS                    */
/* ********************************************************** */ 
    @media only screen
and (min-width : 10px) 
and (max-width : 639px) {
    .head-box {
        /* border: 4px solid rgb(248, 252, 26); */
        /* background-color: rgb(228, 245, 0); */
        width: 94%;
        height: 90vh;
    }
    .top-logo {
        top: 25%;
        right: 3.8vw;
        width: 7vw;
    }
    .ribbon1 {
        margin-bottom: 20px;
        height: 65px;
    }
    .tag-margin {
        margin-bottom: 20px;
    }
    .info0 {
        top: 29%;
        font-size: 100%;
    }
    .info1 {
        font-size: 88%;
    }
    .table-wrapper {
        /* background-color: chartreuse; */
        /* border: 1px solid rgb(10, 10, 141); */
        display: flex;
        align-items:baseline;
        flex-direction: column;
    }
    .docto-img-wrapper_ {
        display: none;
    }
    .tag0, .tag1 {
        width: 100%;
        padding: 2px 5px 2px 20px;
    }
}
@media only screen
and (min-width : 640px) 
and (max-width : 720px) {
    .info0 {
        font-size: 133%;
    }
    .info1 {
        font-size: 102%;
    }
    .docto-img-wrapper_ {
        /* background-color: aqua; */
        padding-left: 45px;
        padding-top: 0px;
    }
    .head-box {
        /* border: 4px solid rgb(248, 252, 26); */
        /* background-color: rgb(228, 245, 0); */
        width: 93%;
        height: 90vh;
    }
    .top-logo {
        top: 23%;
        right: 3.7vw;
        width: 7vw;
    }
    .tag0, .tag1 {
        /* border: 1px solid red; */
        width: 50%;
        /* font-size: 13px; */
    }
    .tag0 {
        padding: 0 9px 0 60px;
    }
}
@media only screen
and (min-width : 721px) 
and (max-width : 960px) {
    .info0 {
        font-size: 137%;
    }
    .info1 {
        font-size: 105%;
    }
    .top-logo {
        top: 23%;
        right: 3.7vw;
        width: 7vw;
    }
    .head-box {
        /* border: 4px solid rgb(248, 252, 26); */
        /* background-color: rgb(228, 245, 0); */
        width: 93%;
        height: 90vh;
    }
    .docto-img-wrapper_ {
        /* background-color: aqua; */
        padding-left: 70px;
        /* padding-top: 0px; */
    }
    .tag0 {
        padding: 0 12px 0 70px;
    }
}

@media only screen
and (min-width : 961px) 
and (max-width : 1200px) {
    .info0 {
        font-size: 145%;
    }
    .info1 {
        font-size: 110%;
    }
    .docto-img-wrapper_ {
        /* background-color: aqua; */
        padding-left: 85px;
    }
    .tag0, .tag1 {
        width: 50%;
    }
    .tag0 {
        padding: 0 15px 0 85px;
    }
}

