/* ********************************************************** */
/*                      VALIDATION MODULE                     */
/* ********************************************************** */ 
.container {
    /* border: 1px solid red; */
    display: none;
} 
.container- {
    display: initial;
}
.table-cell {
    /* background-color: aqua; */
    /* outline: 5px solid rgb(255, 38, 38); */
    /* margin-top: 70px;    */
    /* margin-right: 50px; */
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    align-items: center;
}
.table-cell_ {
    /* border: 5px solid red; */
    width: 750px;
}
.container1 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.docto-img-wrapper_ {
    /* background-color: rgb(131, 149, 143); */
    height: 220px;
}
.docto-img {
    width: 7em;
}
.container2 {
    /* border: 2px solid rgb(242, 159, 26); */
    display: grid;
    grid-template-columns: .35fr .58fr;
}
.table-wrapper {
    /* background-color: chartreuse;
    border: 1px solid rgb(10, 10, 141); */
    padding: 7px 0 7px 0px ;
}
.tag0, .tag1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #404041;
    padding-bottom: 11px;
}
.tag1 {
    font-weight: 500;
    line-height: 22px;
}
.tag0 {
    color: #4b97da;
}
.tag-padding {
    padding-left: 50px;
}
/* ********************************************************** */
/*                  PROMEDY & REGISTER BOXES                  */
/* ********************************************************** */ 
.square-wrapper {
    /* border: 5px solid black; */
    height: 130px;
    margin-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
}
.info-boxes {
    border: 2px solid #D6E9C6;
    background-color: #DFF0D8;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 180px;
    padding-left: 30px;
    padding-right: 30px;
}
.info-boxes_a {
    background-color: #D9EDF7;
    border: 2px solid #BCE8F8;
}
.promedy-txt, .promedy-txt_ {
    color: #3c763d;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
.promedy-txt_ {
    font-weight: 400;
}
.promedy-txt-color {
    color: #31708f;
}
.promedy-txt-padding {
    padding-top: 15px;
}
.low-info-section {
    /* background-color: cadetblue; */
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.low-info-section_ {
    /* background-color: #B38E5D; */
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.low-info-wrapper {
    font-size: 18px;
    line-height: 22px;
    color: #404041;
    padding-bottom: 10px;
    text-align: justify;
}
/* ********************************************************** */
/*                     SCREEN MEDIA QUERYS                    */
/* ********************************************************** */ 
@media only screen
and (min-width : 100px) 
and (max-width : 550px) {
    .container0_ {
        grid-template-columns: .92fr;
  }
    .table-cell {
      /* outline: 2px solid black; */
      margin-top: 15px;
      margin-right: 0;
      width: 90%;
      display: flex;
    }
    .container2 {
        display: flex;
        flex-direction: column;
    }
    .square-wrapper {
        /* outline: 2px solid red; */
        gap: 0;
        padding: 0 16px 0 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .info-boxes {
        height: 125px;
        margin-top: 2px;
    } 
    .tag-padding {
        padding-left: 0;
    }
    .docto-img-wrapper {
        display: none;
    }
    .docto-img-wrapper_ {
        display: none;
    }
    .docto-img {
        display: none;
    }
    .low-info-section_ {
        width: 92%;
    }
    .low-info-wrapper {
        text-align: initial;
    }
}

@media only screen
and (min-width : 551px) 
and (max-width : 900px) {
    .container0_ {
          grid-template-columns: .92fr;
    }
    .table-cell {
        /* outline: 2px solid black; */
        margin-top: 15px;
        margin-right: 0;
        width: 90%;
        display: flex;
    }
    .container2 {
        /* background-color: #31708f; */
        display: flex;
        flex-direction: column;
    }
    .square-wrapper {
        /* outline: 2px solid red; */
        gap: 0;
        padding: 0 16px 0 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .info-boxes {
        height: 125px;
        margin-top: 2px;
    } 
    .tag-padding {
        padding-left: 0;
    }
    .docto-img-wrapper {
        display: none;
    }
    .docto-img-wrapper_ {
        display: none;
     }
    .docto-img {
        display: none;
    }
    .low-info-section_ {
        width: 92%;
    }
    .low-info-wrapper {
        text-align: initial;
    }
}

@media only screen
and (min-width : 901px) 
and (max-width : 1200px) {
    .square-wrapper {
        gap: 15px;
    }
    .table-cell {
        padding-left: 120px;
    }
    .table-cell_ {
        padding-left: 10px;
    }
    .docto-img {
        width: 6em;
    }
}